body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #00a0cd, #292b4a);
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 10px auto;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.avatar {
  width: 280px;
  height: 168px;
  border-radius: 0%;
  object-fit: cover;
}

h2 {
  margin: 0px 0;
}

.links a {
  display: block;
  background: #00a0cd;
  color: white;
  text-decoration: none;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  transition: background 0.3s;
}

.links a:hover {
  background: #292b4a;
}
